@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f1f1f1;
  --foreground: #050607;
  --card: #f8f8f8;
  --card-foreground: #050607;
  --popover: #f8f8f8;
  --popover-foreground: #050607;
  --primary: #00d5ff;
  --primary-foreground: #f8f8f8;
  --secondary: #00aacc;
  --secondary-background: #e0e5eb;
  --secondary-foreground: #050607;
  --muted: #e0e5eb;
  --muted-foreground: #51565b;
  --accent: #e0e5eb;
  --accent-foreground: #050607;
  --destructive: #e7000b;
  --destructive-foreground: #f8f8f8;
  --border: #d3d8de;
  --input: #d3d8de;
  --ring: #00d5ff;
  --chart-1: #00d5ff;
  --chart-2: #00786c;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --radius: 0.5rem;
  --sidebar: #f8f8f8;
  --sidebar-foreground: #050607;
  --sidebar-primary: #00d5ff;
  --sidebar-primary-foreground: #f8f8f8;
  --sidebar-accent: #e0e5eb;
  --sidebar-accent-foreground: #050607;
  --sidebar-border: #d3d8de;
  --sidebar-ring: #00d5ff;
}

.dark {
  --background: #050607;
  --foreground: #f8f8f8;
  --card: #0a0e11;
  --card-foreground: #f8f8f8;
  --popover: #0a0e11;
  --popover-foreground: #f8f8f8;
  --primary: #00d5ff;
  --primary-foreground: #050607;
  --secondary: #00aacc;
  --secondary-background: #151b21;
  --secondary-foreground: #f8f8f8;
  --muted: #1c2229;
  --muted-foreground: #8b9095;
  --accent: #00d5ff;
  --accent-foreground: #050607;
  --destructive: #e7000b;
  --destructive-foreground: #f8f8f8;
  --border: #1c2229;
  --input: #1c2229;
  --ring: #00d5ff;
  --chart-1: #00d5ff;
  --chart-2: #009689;
  --chart-3: #104e64;
  --chart-4: #ffb900;
  --chart-5: #fe9a00;
  --sidebar: #0a0e11;
  --sidebar-foreground: #f8f8f8;
  --sidebar-primary: #00d5ff;
  --sidebar-primary-foreground: #050607;
  --sidebar-accent: #151b21;
  --sidebar-accent-foreground: #f8f8f8;
  --sidebar-border: #1c2229;
  --sidebar-ring: #00d5ff;
}

@theme inline {
  --font-sans: "Geist", "Geist Fallback";
  --font-mono: "Geist Mono", "Geist Mono Fallback";
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-background: var(--secondary-background);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
